.tab-container {
    background-color: transparent;
    width: fit-content;
}

mat-chip {
    background: black;
    background-color: black;
    color: violet;
}

.mat-button-toggle {
    background-color: #EDEDED;
    color: black;
}

.mat-button-toggle-checked {
    background-color: white;
}
