mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 200;
    padding-bottom: 20px;
}

mat-card-header mat-card-title {
    font-size: 25px;
    margin-bottom: 20px;
}
.action-button{
    padding-left: 50px;
    padding-right: 50px;

}