.root {
    height: fit-content;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

mat-form-field {
    width: 100%;
}

mat-checkbox {
    margin-top: 20px;
}

.mat-slide-toggle {
    color: rgb(128, 203, 196);
}

.mat-slide-toggle{
    color: rgb(29, 135, 229);
}

.mat-slide-toggle {
    color: rgba(29, 135, 229, .2);
}

