<div class="root" fxLayout="column">
    <form [formGroup]="formGrp" (ngSubmit)="onSubmit()" >
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Upload Conductor Pricing</mat-label>
            <input matInput [value]="selectedFileName ? selectedFileName : 'Select File'" 
                formControlName="file" readonly style="font-size: 12px;" />
            <mat-error >Please select a CSV file </mat-error>    

            <input type="file" style="color: transparent;" accept=".xlsx, .xls, .csv" name="fileInput" 
                placeholder="Upload Conductor Pricing" (change)="selectFiles($event)">
        </mat-form-field>

        <button mat-raised-button class="action-button" type="submit">Upload</button>
    </form>
</div>
