<div class="root" fxLayout="column">
    <form [formGroup]="formGrp" (ngSubmit)="onSubmit()" >
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>District</mat-label>
            <input matInput type="text" placeholder="District" formControlName="district" [matAutocomplete]="auto"  (keyup)="onKeyUpEvent($event)">
            <mat-autocomplete #auto="matAutocomplete" >
                <mat-option *ngFor="let option of filteredDistrictOptions | async" [value]="option.name" 
                    (onSelectionChange)="onDistrictSelectionChanged(option, $event)">
                    {{ option.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <button mat-raised-button class="action-button" type="submit">Apply</button>
    </form>
</div>