mat-card {
    background-color: antiquewhite;
    width: 200px;
    margin-top: 10px;
}

.mat-form-field-fill {
    background-color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}