.root {
    height: fit-content;
    min-height: 100%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

mat-form-field {
    width: 100%;
}

mat-checkbox {
    margin-top: 20px;
}